.container {
    background-color: #3d8bd4;
    width: 1020px;
    padding: 15px;
    border-radius: 10px;
}

header {
    margin: 5px;
    font-weight: bold;
}

header h1 {
    color: #A7C0DC;
    font-size: 20px;
}

#nav_ir_para_conteudo {
    margin-left: 200px;
    padding-top: 15px;
}

#nav_ir_para_conteudo a {
    color: white;
    font-size: 15px;
}

#main {
    width: 100%;
    margin: 5px;
}

fieldset {
    width: 100%;
    background-color: white;
    position: relative;
    display: block;
    margin-top: 15px;
    border-radius: 10px;
}

legend {
    width: 200px;
    border: 3px solid silver;
    border-radius: 10px;
    background-color: #3d8bd4;
    margin-left: 50px;
}

legend h1 {
    font-size: 20px;
    font-family: "Segoe UI", "Arial", "Times New Roman";
    color: white;
    padding-left: 10px;
}

footer {
    width: 97%;
    color: #A7C0DC;
    background-color: black;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
}

footer h1 {
    color: #A7C0DC;
    font-size: 20px;
}

.acessible-terminal {
    border-radius: 10px;
}

.acessible-terminal .bash-title {
    border-radius: 10px 10px 0 0;
}

.variable-item {
    border: solid 1px darkgray;
    border-radius: 10px;
}

#htmlOlCommandsVariablesVariables {
    list-style-type: none;
}

#htmlOlCommandsVariablesOperations {
    list-style-type: none;
}

#main ol li {
    margin-bottom: 3px;
}

#main ol li a{
    text-decoration: none;
}